* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    color: white;
    background-color: black;
    position: fixed;
    height: 0;

    /* z-index: 3; */
    width: 100vw;

    /* display: none; */
    transition: all 0.3s ease;
}

.hamburger {
    margin: 20px 0px;
    cursor: pointer;
    z-index: 10;
    -webkit-tap-highlight-color: transparent;
}

.lines {
    width: 25px;
    background-color: black;
    height: 3px;
    margin: 7px 25px;
    transition: all 0.3s ease-in-out;
    -webkit-tap-highlight-color: transparent;
}

.heading {
    font-size: 40px;
    font-weight: 600;
    margin: 80px 110px;
}

.sidebar ul {
    /* display: flex; */
    display: none;
    flex-direction: column;
    gap: 10px;
    font-size: 24px;
    margin: 0px 50px;
    list-style: none;
    transition: all 0.3s ease;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}
