@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --font: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    color: white;
    background-color: black;
    position: fixed;
    height: 100vh;

    /* z-index: 3; */
    width: 100vw;

    /* display: none; */
    transition: all 0.3s ease-in-out;
    font-family: var(--font);
    z-index: -10;
}

.hamburger {
    margin: 20px 0px;
    cursor: pointer;
    z-index: 10;
    -webkit-tap-highlight-color: transparent;
}

.lines {
    width: 40px;
    background-color: red;
    height: 3px;
    margin: 7px 25px;
    transition: all 0.3s ease-in-out;
    -webkit-tap-highlight-color: transparent;
}

#first {
    transform: translate(-10px, 10px) rotate(45deg);
}

#second {
    width: 25px;
    display: none;
}

#third {
    transform: translate(-10px, 0px) rotate(-45deg);
}

.heading {
    font-size: 40px;
    font-weight: 600;
    margin: 80px 110px;
}

.sidebar ul {
    display: flex;
    /* display: none; */
    flex-direction: column;
    gap: 10px;
    font-size: 24px;
    margin: 0px 50px;
    list-style: none;
    transition: all 0.3s ease-in;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.main {
    color: black;
    margin: 70px;
}

.main h1 {
    font-family: var(--font);
    font-weight: 400;
}
